<h1 class="animated fadeIn fast">Sobre Cómic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eos in illo
  ex, quod fugiat id sit ea rerum magnam minus sapiente consequatur cumque
  beatae. Libero fuga quisquam nisi hic? Assumenda harum tenetur quidem. Natus,
  optio vel reprehenderit eos mollitia inventore veritatis cupiditate accusamus
  quae deleniti quod impedit at aliquid corrupti excepturi possimus rerum
  voluptas vitae provident voluptates necessitatibus quas. Itaque suscipit quia
  adipisci fugiat, molestias autem minus temporibus sit natus consequatur illum
  in tempore facere nihil quae eum esse? Magnam amet ea deserunt. Culpa eum
  aperiam doloremque nemo natus? Autem vel ducimus accusamus repudiandae
  blanditiis. Voluptates odit dicta perferendis itaque et expedita quibusdam
  culpa, voluptate adipisci, iste magni exercitationem consequatur quasi
  incidunt? Adipisci at illo ipsum culpa. Modi, illo. Non fugit deleniti placeat
  adipisci neque sit culpa sint ullam facilis? Fuga officiis ut corrupti
  laudantium quidem, sunt voluptates optio nostrum explicabo ducimus. Nihil
  fugit quasi voluptates ratione adipisci rem! Rerum fugiat reprehenderit sit
  consequuntur commodi harum omnis ex deleniti nesciunt eaque natus, velit
  veniam blanditiis, dolore quas. Nostrum repellat animi est, aliquid culpa
  excepturi dolores cumque ea adipisci amet. Qui, doloribus vero nulla quidem
  quasi cumque veniam iure eos tempore doloremque atque, ducimus incidunt ab
  sint nihil eaque dolores molestias explicabo? Perferendis doloremque placeat
  velit. Consequatur molestias nulla sed! Numquam provident magnam obcaecati
  sunt et fugiat ea? Necessitatibus accusantium itaque veniam tenetur vel rem
  ullam consequatur natus, magni nihil impedit quo sapiente voluptatem sed a
  eius repudiandae laboriosam labore. Eum dolorem sint tenetur, facere et
  laborum eius corrupti commodi ut aperiam. Sapiente ad dignissimos error quam
  aliquam exercitationem voluptas deserunt distinctio illo optio, dolore fugit,
  modi saepe repellat similique! Repudiandae, repellendus! Praesentium
  reprehenderit, saepe modi consequatur voluptate in tempora nostrum quibusdam
  amet cupiditate iste soluta eligendi rem totam, officia laudantium aperiam
  pariatur neque! Quas aliquam facilis dolore nobis aperiam!
</p>
